
<div>
  <h1>Send Money</h1>
  <h1><img src="assets/img/transact/send.png" alt="loading"></h1><br><br><br>
  <form (submit) = "onTransfer(transferform)" #transferform = "ngForm">
    <div>
      <input type="number" name ="recipientAccount" ngModel #recipientAccount='ngModel' placeholder="Enter SuperCash Account" autofocus="" required="">
      <p style="color: red;" *ngIf="recipientAccount.invalid && recipientAccount.touched">Please enter the account</p>
    </div><br><br>
    <div>
       
      <div>
        
        <input type="number" name ="amount" ngModel #amount ='ngModel' placeholder="Enter Amount" autofocus="" required=""> 
        <p style="color: red;" *ngIf="amount.invalid && amount.touched">Please enter the amount</p>
      </div>
    </div><br><br>
    <div>
      <button type="submit">Send Money</button>
      
    </div><br><br>
    <div>
      
      <button> <a routerLink = ''><b>Cancel</b></a></button>

    </div>

    
  </form>
 <!-- <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
  <div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>-->
</div>



<!--  [formGroup]="transferForm" (ngSubmit)="transfer()"   <button routerLink="/payCash"><h1>PAY</h1></button>
<table cellpadding="20px">
  <th>INSTEAD</th>
  <tr>
    
    
    
    <td><button><a routerLink="/pay-cash"><img src="assets/img/transact/pay.png" alt="loading"><h1>PAY</h1></a></button></td>
    <td><button><a routerLink="/withdraw-cash"><img src="assets/img/transact/withdrawal.png" alt="loading"><h1>WITHDRAW</h1></a></button></td>
    <td><button><a routerLink = '/super-cash-statement'><img src="assets/img/transact/statement.png" alt="loading"><h1>STATEMENT</h1></a></button></td>
    
  </tr>
</table>-->


<style type="text/css">
  table{
    width: 40%;
    margin: auto;
  }

  h1{
    color: green;
    text-align: center;
  }
  
  form,p,{
          text-align: center;
          
      }
      img{
        height: 40px;
      }
      input,button,h1,p{
        width: 70%;
        height: 70px;
        font-size: 50px;
        text-align: center;
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        margin-left: 15%;
        
      }
      button{
        text-align: center;
        width: 20%;
        margin-left: 40%;
      }


</style>

