<div>
  <h1>PayBill</h1>
  <h1><img src="assets/img/transact/send.png" alt="loading"></h1>
  <form >
    <div>
      <input type="number" id="PayBill" name= "PayBill" ngModel required #paybill= 'ngModel' placeholder="Enter SuperCash PayBill No.">
    </div><br><br>
    <div>
      <input type="number" id="recipientAccount" name="recipientAccount" ngModel required #recipientAccount='ngModel' placeholder="Enter Account No.">
    </div><br><br>
    <div>
      
      <div>
        
        <input type="number" id="amount" name="amount" ngModel required #amount='ngModel' placeholder="Enter Amount" >
      </div>
    </div><br><br>
    <div>
      <button type="submit">Pay</button>
      
    </div><br><br>
    <div>
      
      <button> <a routerLink = ''><b>Cancel</b></a></button>

    </div>
    <div *ngIf = "amount.invalid">required</div>
    
  </form>
 
</div>


    <!--<table cellpadding="20px">
      <th>INSTEAD</th>
  <tr>
    <td ><button><a routerLink="/send-cash"><img src="assets/img/transact/send.png" alt="loading"><h1>SEND</h1></a></button></td>
    <td><button><a routerLink="/pay-cash"><img src="assets/img/transact/pay.png" alt="loading"><h1>PAY</h1></a></button></td>
    
    <td><button><a routerLink = '/super-cash-statement'><img src="assets/img/transact/statement.png" alt="loading"><h1>STATEMENT</h1></a></button></td>
    
  </tr>
</table>-->


<style type="text/css">
  table{
    width: 40%;
    margin: auto;
  }

  
  h1{
    color: green;
    text-align: center;
  }
  
  form,p,{
          text-align: center;
          
      }
      img{
        height: 40px;
      }
      input,button,h1{
        width: 70%;
        height: 60px;
        font-size: 40px;
        text-align: center;
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        margin-left: 15%;
        
      }
      button{
        text-align: center;
        width: 20%;
        margin-left: 40%;
      }
</style>

