<p>hey send</p>
<form (submit)="transferFunds()">
      <label for="fromAccount">From Account:</label>
      <input type="number" id="fromAccount" [(ngModel)]="fromAccount" required>

      <label for="toAccount">To Account:</label>
      <input type="number" id="toAccount" [(ngModel)]="toAccount" required>

      <label for="amount">Amount:</label>
      <input type="number" id="amount" [(ngModel)]="amount" required>

      <button type="submit">Transfer Funds</button>
      <button> <a routerLink = '/your-mini-super-cash'>Cancel</a></button>
    </form>
    <!--<table cellpadding="20px">
      <th>INSTEAD</th>
  <tr>
    
    <td><button> <a routerLink="/pay-commission"><img src="assets/img/transact/pay.png" alt="loading"><h1>PAY</h1></a></button></td>
    <td><button> <a routerLink="/withdraw-commission"><img src="assets/img/transact/withdrawal.png" alt="loading"><h1>WITHDRAW</h1></a></button></td>
    <td><button> <a routerLink = '/commission-Statement'><img src="assets/img/transact/statement.png" alt="loading"><h1>STATEMENT</h1></a></button></td>
    
  </tr>
</table>-->


<style type="text/css">
  table{
    width: 40%;
    margin: auto;
  }

  h1{
    color: green;
  }
  form,p{
    text-align: center;
      }
      img{
        height: 40px;
      }

</style>

