<h1>Get statement</h1>
<h1><img src="assets/img/transact/send.png" alt="loading"></h1><br><br><br>
<table >
                <thead>
                  <tr>
                    <th>Trasaction id</th>
                    <th>From Name</th>
                    <th>From Number</th>
                    <th>To Name</th>
                    <th>To Number</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Date</th>

                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td> transaction.id </td>
                    <td>
                      transaction.sourceOwnerName
                    </td>
                    <td>
                    
              transaction.sourceAccountId
            
                    </td>
                    <td>
                       transaction.targetOwnerName  
           
                    </td>
                    <td>
                       
              transaction.targetAccountId
            
                    </td>
                    <td> transaction.reference </td>
                    <td>₹  transaction.amount </td>
                    <!--<td >{{ transaction.initiationDate.substring(0, 10).split("-").reverse().join("-") }}</td>-->

                  </tr>
                </tbody>

              </table>
     <p><button type="submit">Statements</button>
      <button> <a routerLink = ''><b>Cancel</b></a></button></p>
    

    <!--<table cellpadding="20px">
      <th>INSTEAD</th>
  <tr>
    <td ><button><a routerLink="/send-cash"><img src="assets/img/transact/send.png" alt="loading"><h1>SEND</h1></a></button></td>
    <td><button><a routerLink="/pay-cash"><img src="assets/img/transact/pay.png" alt="loading"><h1>PAY</h1></a></button></td>
    <td><button><a routerLink="/withdraw-cash"><img src="assets/img/transact/withdrawal.png" alt="loading"><h1>WITHDRAW</h1></a></button></td>
    
    
  </tr>
</table>-->


<style type="text/css">
  table{
    width: 90%;
    margin: auto;
  }

  h1{
    color: green;
    text-align: center;
  }
  
  form,p,{
          text-align: center;
          
      }
      img{
        height: 40px;
      }
      input,h1{
        width: 70%;
        height: 70px;
        font-size: 50px;
        text-align: center;
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        margin-left: 15%;
        
      }
      button{
        text-align: center;
        width: 20%;
        margin-left: 40%;
      }

</style>

<!--<button routerLink="/payCash"><h1>PAY</h1></button>
<style type="text/css">
  h1{
    color: green;
  }
</style>-->
