<table cellpadding="20px"><tr>
    <td ><button><a routerLink="/send-cash"><img src="assets/img/transact/send.png" alt="loading"><h1>SEND</h1></a></button></td>
    <td><button><a routerLink="/pay-cash"><img src="assets/img/transact/pay.png" alt="loading"><h1>PAY</h1></a></button></td>
    <td><button><a routerLink="/withdraw-cash"><img src="assets/img/transact/withdrawal.png" alt="loading"><h1>WITHDRAW</h1></a></button></td>
    <td><button><a routerLink = '/super-cash-statement'><img src="assets/img/transact/statement.png" alt="loading"><h1>STATEMENT</h1></a></button></td></tr></table>
<router-outlet></router-outlet>

<style type="text/css">
  table{
    width: 80%;
    margin: auto;
  }

	h1{
		color: green;
	}
  img{
    max-height: 40px;
  }

</style>
