<div class="card"><div class="container"><table cellpadding="20px"><tr>
    <td ><button class="button1"><a routerLink="/send-cash"><img src="assets/img/transact/send.png" alt="loading"></a></button><p>SEND</p></td>
    <td><button class="button1"><a routerLink="/pay-cash"><img src="assets/img/transact/pay.png" alt="loading"></a></button><p>PAY</p></td>
    <td><button class="button1"><a routerLink="/withdraw-cash"><img src="assets/img/transact/withdrawal.png" alt="loading"></a></button><p>WITHDRAW</p></td>
    <td><button class="button1"><a routerLink = '/super-cash-statement'><img src="assets/img/transact/statement.png" alt="loading"></a></button><p>STATEMENT</p></td></tr></table>
    <!--<button> <a routerLink = ''><b>Back</b></a></button>--></div></div>
<router-outlet></router-outlet>

<style type="text/css">
  table{
    width: 80%;
    margin: auto;
  }

	h1{
		color: green;
	}
  
</style>
